.stage {
    max-height: 500px;
    max-width: 500px;
    padding: 10px;
}

.stageCell {
    stroke: black;
    stroke-width: 2;
}

.mix-stageCell_dark {
    fill: black;
}

.mix-stageCell_light {
    fill: white;
}

.stageCell:hover {
    cursor: pointer;
    fill: dodgerblue;
    stroke-width: 2;
}

.mix-stageCell_black {
    fill: rgba(#111111, 0.75);
}

.mix-stageCell_white {
    fill: rgba(#eeeeee, 0.75);
}

.mix-stageCell_availableMove {
    cursor: pointer;
    fill: rgba(255, 0, 255, 0.5);
    stroke: rgba(10, 10, 10, 0.2);
    stroke-width: 5px;
}
